* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Dosis', sans-serif;
	scroll-behavior: smooth;

}
nav {
	background-color: #1F2839;

}
nav .nav-link {

	display: flex;
 	text-transform: uppercase;
	font-weight: bold;
	margin-right: 1rem;	
	color: #f1f0eb;
	padding: 1rem 0rem 1rem 0rem;

 }



#navbarNav, #navbarNav li {
	justify-content: flex-end;

}

.jumbotron {

	background: url("https://images.pexels.com/photos/910213/pexels-photo-910213.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
	background-size: cover;
	background-repeat: no-repeat;
	max-width: 100%;

}

.container-title{
		
		background:rgba(182, 157, 121,0.5);
		padding:1rem;
		border:1px solid rgba(0,0,0,0.1);
		text-align: center;
		border-radius:3px;

/*		padding: 10rem 5rem 10rem 5rem;
		margin: 0rem 5rem 0rem 5rem;*/
}
.container-title > .landing-title {
		color: #1F2839;
		font-size: 50px;
		padding-top: 1rem;
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: 7px;
}
.container-title > .landing-subtitle1 {
		color: #1F2839;
		text-align: center;
		padding-top: 1rem;
		font-weight: bolder;

}

.container-title > .landing-subtitle2 {
		color: #1F2839;
		font-size: 20px;
		text-align: justify;
		padding: 1rem 0rem 1rem 0rem;
		letter-spacing: 3px;
		min-height: 10rem;
	}

#landing_photo {
	height: 300px;
	width: 280px;
	border: 2px solid white;
	border: 1;
	border-radius: 360px;

}

.about-wrapper p {
	padding: 2rem;
}

.card {
	width: 100%;
}

.about-title, .about-subtitle1, .about-subtitle2, .contact-title, .project-title {
	text-transform: uppercase;
	margin-bottom: 1rem;
	margin-top: 2rem;
}

footer {

	background-color: #1f2839 ;
	color: #f5f5ef;
}

.pre-footer, .pre-footer > div {
	vertical-align: top;
	display: inline-block;
	margin: 2rem;
	background-color: #1f2839 ;
	color: #f5f5ef;

}

.footer-image {

	width: 40px;
	height: 40px;
}

#footer-footer {
	text-align: center;
	background-color: #b69d79;
	font-weight: bolder;
	height: 30px;
	margin-top: 5rem;
}


.pre-footer h5{
	padding-bottom: 2rem;
	}

.form-container {
	background-color: #1f2839;
	border: 2px solid white;
	color: #f5f5ef;

}

.form-container button {

	background-color: #f5f5ef;
	
}


@media (min-width: 300px) {

	.jumbotron {
	background: url("https://images.pexels.com/photos/910213/pexels-photo-910213.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
	min-height: 100%;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;

}


@media (min-width: 768px) {
	.jumbotron {
	background: url("https://images.pexels.com/photos/910213/pexels-photo-910213.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
	min-height: 100%;
	max-width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
}

@media (min-width: 1200px) {
	.jumbotron {
	background: url("https://images.pexels.com/photos/910213/pexels-photo-910213.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
	max-width: 100%;
	min-height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
}

